# Ignore node_modules folder
node_modules/

# Ignore .env file for sensitive environment variables
.env

# Ignore log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore any build files or compiled code
dist/
build/

# Ignore .DS_Store (for macOS users)
.DS_Store
